<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BombParty RU</title>
<style>
#myinput {
  position: fixed;
  top: 0;
  width: 40%;
  height: calc(100vh / 5);
  background-color: #4E443C;
  color: #4E443C;
  border: 1px solid #4E443C;
  outline: none;
  left: 0;
}

        body {
            background-color: #4E443C;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            position: relative;
            overflow: hidden;
            font-family: 'Comic Sans MS', cursive; /* Изменен шрифт на Comic Sans MS */
        }
        .content {

            color: #AAAAAA;
        }
#bomby {
    width: 260px;
    position: fixed;
    top: 130px; /* Поменяйте значение на 130px для позиции 70 пикселей выше output */
    left: 50%;
    transform: translateX(-50%);
}

#word {
    width: 100px;
    position: fixed;
    top: 260px; /* Позиция 70 пикселей выше output */
    left: 49%;
    transform: translateX(-50%);
}

#output {
    font-size: 24px;
    text-align: center;
    display: block;
    position: fixed;
    top: 360px; /* Позиция output по центру */
    left: 50%;
    transform: translateX(-50%);
}
#message {
    font-size: 20px;
    text-align: center;
    display: block;
    position: fixed;
    top: 400px; /* Позиция output по центру */
    left: 50%;
    transform: translateX(-50%);
}
#myinput::-webkit-input-placeholder {
  font-size: 44px;
}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<img id="bomby" src="static/images/bomby.png" alt="Bomby">
<div class="content" style="text-align: center;">
    <div id="word" style="font-size: 30px;"></div>
    <div id="output" style="font-size: 24px; text-align: center;display: block;"></div>
    <div id="message" style="font-size: 20px; display: none;"></div>
</div>
<div id="timer" style="position: fixed; top: 100px; right: 30px; font-size: 24px; color: #FFF;"></div>


<input type="text" id="myinput" placeholder="жми сюда" style="width: 40%; display: none; position: fixed; bottom: 0;">

<script>

 var timerSeconds = 7;
 var score = 0;
var timerInterval;


  function score() {
        $.ajax({
                url: '/score',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    score: score
                }),
                success: function(response) {}
            });
    }

function showGameOverWindow(score) {
    var gameOverWindow = document.createElement('div');
    gameOverWindow.style.backgroundColor = '#202020';
    gameOverWindow.style.color = '#ffffff';
    gameOverWindow.style.padding = '20px';
    gameOverWindow.style.position = 'fixed';
    gameOverWindow.style.top = '50%';
    gameOverWindow.style.left = '50%';
    gameOverWindow.style.transform = 'translate(-50%, -50%)';
    gameOverWindow.style.width = '80%'; // Изменим ширину на 80% относительно размеров браузера
    gameOverWindow.style.maxWidth = '400px'; // Добавим максимальную ширину для контроля ширины на больших экранах
    gameOverWindow.style.height = 'auto'; // Автоматическая высота контейнера
    gameOverWindow.style.textAlign = 'center';
    gameOverWindow.style.borderRadius = '10px';

    var gameOverMessage = document.createElement('h2');
    gameOverMessage.innerHTML = 'Вы проиграли, ваш счёт: ' + score;
    gameOverWindow.appendChild(gameOverMessage);

    var goToMainButton = document.createElement('a');
    goToMainButton.innerHTML = 'На главную';
    goToMainButton.href = '/';
    goToMainButton.style.cssText = 'padding: 10px 20px; background-color: #26A936; color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; margin-top: 20px; font-family: "Comic Sans MS", cursive;';
    goToMainButton.onmouseover = function() {
        goToMainButton.style.backgroundColor = 'darkred';
    };
    goToMainButton.onmouseout = function() {
        goToMainButton.style.backgroundColor = '#26A936';
    };
    gameOverWindow.appendChild(goToMainButton);

    var leaderboardButton = document.createElement('a');
    leaderboardButton.innerHTML = 'Таблица лидеров';
    leaderboardButton.href = '/leaders';
    leaderboardButton.style.cssText = 'padding: 10px 20px; background-color: #26A936; color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; margin-top: 20px; font-family: "Comic Sans MS", cursive;';
    leaderboardButton.onmouseover = function() {
        leaderboardButton.style.backgroundColor = 'darkred';
    };
    leaderboardButton.onmouseout = function() {
        leaderboardButton.style.backgroundColor = '#26A936';
    };
    gameOverWindow.appendChild(leaderboardButton);

    document.body.appendChild(gameOverWindow);
    document.getElementById('timer').style.display = 'none';
}



function startTimer() {

    if (timerInterval) {
        clearInterval(timerInterval); // Очистить старый интервал, если он уже был установлен
    }

    var timerElement = document.getElementById('timer');
    timerElement.textContent = 'Оставшееся время: ' + timerSeconds + ' сек';

    timerInterval = setInterval(function() {
        timerSeconds--;
        timerElement.textContent = 'Оставшееся время: ' + timerSeconds + ' сек';

        if (timerSeconds === 0) {
            clearInterval(timerInterval);
            $('#message').text('Вы проиграли!');
            $('#message').show();
             $.ajax({
                url: '/score',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                    score: score
                }),
                success: function(response) {
                  showGameOverWindow(score);
                  }


            });
        }
    }, 1000);
}


    var text = '';

    function createWord() {

        if (timerInterval) {
        clearInterval(timerInterval);
        timerInterval = null; // Сброс переменной идентификатора интервала
    }

        $.ajax({
            url: '/create_word',
            type: 'GET',
            success: function(response) {
                $('#word').text(response.word);
                timerSeconds = 7;
                startTimer();
            }
        });
    }

    createWord();


if (navigator.userAgent.match(/Windows/i) || navigator.userAgent.match(/Macintosh/i) || navigator.userAgent.match(/Linux/i)) {

$(document).keypress(function(event) {
    var char = String.fromCharCode(event.which);
    text += char;
    $('#output').text(text);

});

$(document).keyup(function(event) {
    if (event.keyCode === 8) {
        text = text.slice(0, -1);
        $('#output').text(text);
    }
    if (event.keyCode === 13) {
        $.ajax({
            url: '/check_numbers',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ text: text }),
            success: function(response) {
                if (response.hasNumbers) {
                    $('#message').text('Отлично');
                    score += 1
                     $('#message').show();
                    createWord();
                    timerSeconds = 7;
                    setTimeout(function() {
                    $('#message').hide();
                    text = '';
                    $('#output').text('');
                    timerSeconds = 7;
                }, 400);
                clearInterval(timerInterval);
                } else {
                    $('#message').text('Плохо');
                     $('#message').show();
                      setTimeout(function() {
                            $('#message').hide();
                            text = '';
                            $('#output').text('');
                }, 400);
                }
            }
        });
    }
});

}






if ((navigator.userAgent.match(/Android/i)  || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i))) {
         /* document.getElementById('tap').style.display = 'block';*/
           document.getElementById('myinput').style.display = 'block';

           var input = document.getElementById("myinput");
           input.focus();


            $(document).on('input', function(event) {
        var char = event.originalEvent.data;
        if (char) {
            text += char;
            $('#output').text(text);
        }
    });

    $(document).keydown(function(event) {
        if (event.keyCode === 8) {
            text = text.slice(0, -1);
            $('#output').text(text);
        }
        if (event.keyCode === 13) {
            $.ajax({
                url: '/check_numbers',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ text: text }),
                success: function(response) {
                    if (response.hasNumbers) {
                        $('#message').text('Отлично');
                        score += 1;
                        $('#message').show();
                        createWord();
                        timerSeconds = 7;
                        setTimeout(function() {
                            $('#message').hide();
                            text = '';
                            $('#output').text('');
                            timerSeconds = 7;
                        }, 400);
                        clearInterval(timerInterval);
                    } else {
                        $('#message').text('Плохо');
                        $('#message').show();
                        setTimeout(function() {
                            $('#message').hide();
                            text = '';
                            $('#output').text('');
                        }, 400);
                    }
                }
            });
        }
    });



}


</script>
</body>
</html>
